
<br/>
<form class="input" (submit)="onSubmit(inputFormControl.valid, $event)">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Intorduzca el repositorio y presione Enter</mat-label>
    <input type="url" matInput [formControl]="inputFormControl" [errorStateMatcher]="matcher"
           placeholder="https://github.com/'usuario'/'proyecto'"
           [(ngModel)]="inputValue">
    <mat-error *ngIf="inputFormControl.hasError('repository') && !inputFormControl.hasError('required')">
      El formato del repositorio no es válido (ejemplo: https://github.com/'usuario'/'proyecto')
    </mat-error>
    <mat-error *ngIf="inputFormControl.hasError('required')">
      El repositorio es requerido
    </mat-error>
  </mat-form-field>
</form>
<br/>

<div [hidden]="!(totalPages$ | async)">
  <table mat-table [dataSource]="(issues$ | async)!" class="mat-elevation-z8">

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br/>
  <mat-paginator *ngIf="issuePageUrl$ | async as issuePageUrl" (page)="handlePageEvent($event, issuePageUrl)"
                [length]="(totalPages$ | async) | multiply:pageSize"
                [showFirstLastButtons]="showFirstLastButtons"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="pageSize"
                aria-label="Select page of Issues">
  </mat-paginator>
</div>
