.input {
    margin-left: 10%;
    width: 80%;
    min-width: 150px;
    max-width: 500px;

    .full-width {
        width: 100%;
    }
}

table {
    width: 80%;
    margin-left: 10%;
}

mat-paginator {
    width: 80%;
    margin-left: 10%;
}